/*container*/
.container {
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* width: 100%; */
    max-width: 1080px;
    padding: 30px 20pt;
  }
  
  /*slider*/
  .swiper {
    width: 100%;
    height: 550px;
    background-color: #dfe9ea;
  }
  .swiper-slide {
    width: 100%;
    background-color: #dfe9ea;
  }
  
    img{
    height: -webkit-fill-available;
    display: block;
    width: 100%;
  }
  .swiper-pagination-bullet{
    width: 40px;
    height: 3px;
    border-radius: o;
    background-color: #b9c0c8;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: rgb(240 240 240 / 14%);
    backdrop-filter: blur(3px);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 50%;
    transition: 0.4s;
    position: absolute;
    opacity: o;
  }
  .swiper-button-prev:after, 
  .swiper-rtl .swiper-button-next:after {
    content: none;
  }
  .swiper-button-next:after, 
  .swiper-rtl .swiper-button-prev:after {
    content: 'none';
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #263343;
    box-shadow: 0 4px 12px rgba(240, 240, 240, 0.7);
  }
  
  .swiper-button-prev{
    background-image: url(../svg/icon-arrow-left-w.svg);
  }
  
  /*nespaper*/
  h2 {
    margin: 32px;
    font-size: xx-large;
  }
  .newspaper {
    font-size: 24px;
    margin: 32px;
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
  }
  
  /*post*/
  h3 {
    margin: 32px;
    font-size: xx-large;
  }
  
  p {
    margin: 3px;
    font-size: 28px;
    display: block;
    align-items:flex-end;
  }
  div.gallery {
    padding: 8px 8px 0;
    margin: 32px;
  
    box-sizing: border-box;
  }
  
  div.gallery:hover {
    border: 5px solid var(--accent-color);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    box-sizing: border-box;
  }
  /* ---------------end of home page---------------- */