main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  #search {
    width: 300px;
    margin: 32px;
    padding: 16px;
    border-radius: 40px;
    border-width: 5px;
    border-color: var(--background-color);
  }
  
  #filterForm {
    box-sizing: border-box; 
    width: 100%;
    /* margin: 32px; */
    text-align: left;
    font: normal 16px sans-serif;
    /* padding: 45px 50px; */
  }
  
  .filterType{
    margin-left: 32px;
  }
  
  /*Sign_up page*/
  .formcontainer{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  label {
    font-size: 20px;
    width: 600px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #title, #content, #category, #author {
    margin: 16px;
  }
  
  /* #category, #author {
    margin: 16px;
  } */
  
  button, #reset, #submit {
    padding: 8px 16px 8px;
    margin: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--text-color)
  }
  
  #title1, #category1, #author1, #email, #login, #pass, #pass2 {
    
    height: 30px;
    margin: 32px;
    border-width: 5px;
    border-radius: 20px;
    padding: 8px 8px 8px;
    width: 600px;
    border-color: var(--background-color);
  }
  #content1 {
    margin: 32px;
    border-width: 5px;
    border-radius: 20px;
    padding: 8px 8px 8px;
    width: 600px;
    height: 300px;
    border-color: var(--background-color);
  }
  #image {
    margin: 32px;
    font-size: larger;
  }

  